<% provide(:title, current_user.login + "\'s profile") %>
<article>
  <section>
  	<h1>Hello there, <%= current_user.login %>!</h1>
  </section>
  <section>
    <h1>Schedule Grid Testing</h1>
    <div class="grid">

      <div class="item grid-header">header</div>

      <div class="item row1 col1">bratok primus</div>
      <div class="item row1 col2">bratok</div>
      <div class="item row1 col3">bratok</div>
      <div class="item row1 col4">bratok</div>
      <div class="item row1 col5">bratok</div>
      <div class="item row1 col6">bratok</div>
      <div class="item row1 col7">bratok</div>
      
      <div class="item row2 col1">bratok</div>
      <div class="item row2 col2">bratok</div>
      <div class="item row2 col3">bratok</div>
      <div class="item row2 col4">bratok</div>
      <div class="item row2 col5">bratok</div>
      <div class="item row2 col6">bratok</div>
      <div class="item row2 col7">bratok</div>
      
      <div class="item row3 col1">bratok</div>
      <div class="item row3 col2">bratok</div>
      <div class="item row3 col3">bratok</div>
      <div class="item row3 col4">bratok</div>
      <div class="item row3 col5">bratok</div>
      <div class="item row3 col6">bratok</div>
      <div class="item row3 col7">bratok</div>
      
      <div class="item row4 col1">bratok</div>
      <div class="item row4 col2">bratok</div>
      <div class="item row4 col3">bratok</div>
      <div class="item row4 col4">bratok</div>
      <div class="item row4 col5">bratok</div>
      <div class="item row4 col6">bratok</div>
      <div class="item row4 col7">bratok</div>
      
      <div class="item row5 col1">bratok</div>
      <div class="item row5 col2">bratok</div>
      <div class="item row5 col3">bratok</div>
      <div class="item row5 col4">bratok</div>
      <div class="item row5 col5">bratok</div>
      <div class="item row5 col6">bratok</div>
      <div class="item row5 col7">bratok</div>

      <div class="item row6 col1">bratok</div>
      <div class="item row6 col2">bratok</div>
      <div class="item row6 col3">bratok</div>
      <div class="item row6 col4">bratok</div>
      <div class="item row6 col5">bratok</div>
      <div class="item row6 col6">bratok</div>
      <div class="item row6 col7">bratok tandem</div>

      <div class="item grid-footer">footer</div>
    </div>
  </section>
</article>
