<% provide(:title, current_user.login + "\'s profile") %>
<article>
  <section>
  	<h1>Hello there, <%= current_user.login %>!</h1>
    <blockquote>
      <p><strong>B</strong>efore trying cooquareque,<br />first you need to learn coo'meque</p>
    </blockquote>
    <cite>~ Yoldyzy Qan Maxabbatpen Aldawğa <span class="label">1337 BC</span></cite>
  </section>
  <section>
    <h1>Polygon</h1>
    <style>
    #cd {
      display: block !important;
      opacity: 1.0;
    }

      #cd + label > .contents {
        display: none;
      }

      #cd:checked + label > .contents {
        display: block;
      }

    </style>

    <input id="cd" type="checkbox" />
    <label for="cd">
      <div class="contents">
        sup<br />
        now it's the time
      </div>
    </label>

  </section>
</article>
