<article>
	<% if @schedules.empty? %>
		You have not any schedules yet. Make the <%= link_to 'new one', new_user_schedule_path, html_options = { class: "" } %>!
	<% else %>
		This is your schedules:
		<ul>
			<% @schedules.each do |schedule|%>
				<li><%= schedule.title %></li>
			<% end %>
		</ul>
		
	<% end %>
</article>
