<article>
<%= form_for @schedule, url: user_schedules_path do |f| %>
    <fieldset class="flex third center">
      <label>
        <%= f.text_field :title, class: "", placeholder: "Title" %>
      </label>
      <label>
        <%= f.submit "Save", class: "button" %>
      </label>
    </fieldset>
  <% end %>
</article>
