<header class="hero">
  <div class="content">
    <h1>Beyond the khooeetah</h1>
    <p class="slogan">Lightweight and beautiful library</p>
  </div>
</header>
<article>
  <section>
  	<h1>Workflower Project</h1>     
  	<p><em>Workflower</em> is a really advanced hand-made dumb site for your great ideas and projects with very special bugs and errors proudly prepared for our dear users.</p>
    <p>With <em>Workflower</em> you <strong>can</strong> easily track your personal or public activities (named <em>Workflows</em>), but this feature currently not available lol (but you <strong>still</strong> can use pen and paper).</p>
  </section>
  <section>
    <h1>Currently Implemented Features <span class="label">in progress!</span></h1>
    <ul>
      <li><a href="/signup">Registration</a></li>
      <li><a href="/signin">Authorization</a></li>
      <li>Errors Handling (partial):
        <ul>
          <li><a href="/404">HTTP 404 Not Found</a></li>    
          <li>HTTP 500 Internal Server Error <span class="label warning">can't reproduce</span></li>
        </ul>
      </li>
      <li><em>End of features list.</em></li>
    </ul>
  </section>
  <section>
    <h1>Picture</h1>
    <p>And here is the Marceline picture, added by popular demands:</p>
    <div class="third">
      <img class="stack" src="/pictures/marcy.png">
      <a class="button stack" href="/pictures/marcy.png">marcy.png (under CC BY-SA 4.0)</a>
    </div>
  </section>
</article>
