<header class="hero">
  <div class="flex two">
    <div></div>
    <div>
      <fieldset class="flex one">
        <label><input type="email" placeholder="Email"></label>
        <label><input type="password" placeholder="Password"></label>
      </fieldset>
        <a href="">Register</a> or <a href="">Sign In</a>
    </div>
  </div>
</header>
<article>
  <section>
  	<h1>Workflower Project</h1>
    <blockquote>
      <em>Before trying cooquareque,<br />first you'll need to learn coomeque</em>
    </blockquote>
    <cite>~ Nikolay Petrov</cite>
  	<p><em>Workflower</em> is a really advanced hand-made dumb site for your great ideas and projects with very special bugs and errors proudly prepared for our dear users.</p>
    <p>With <em>Workflower</em> you <strong>can</strong> easily track your personal or public activities (named <em>Workflows</em>), but this feature currently not available lol (but you <strong>still</strong> can use schedule grids).</p>
  </section>
  <section>
    <h1>Currently Implemented Features</h1>
    <ul>
      <li>Registration</li>
      <li>Authorization</li>
      <li>Schedule Grids</li>
      <li>Errors Handling (partial):
        <ul>
          <li><code>HTTP 404</code> Not Found</li>    
          <li><code>HTTP 500</code> Internal Server Error</li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h1>Picture</h1>
    <p>And here is the Marceline picture, added by popular demands:</p>
    <div class="third">
      <img class="stack" src="/pictures/marcy.png">
      <a class="button stack" href="/pictures/marcy.png">marcy.png</a>
    </div>
  </section>
</article>
