<%= render partial: 'partials/primary_sign' %>
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <h2>The Workflower Project</h2>
    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <blockquote>
          <em>“Before trying cooquareque,<br />first you'll need to learn coomeque”</em>
        </blockquote>
        <cite>— Vasyan Tsentralniy</cite>
      </div>
      <div>
        <p>
          <strong>Workflower</strong> is a really advanced hand-made dumb site for your great ideas and projects with very special bugs and errors proudly prepared for our dear users.
        </p>
      </div>
      <div>
        <p>
          With <strong>Workflower</strong> you <strong>can</strong> easily track your personal or public activities (named <strong>Workflows</strong>), but this feature currently not available lol (but you <strong>still</strong> can use schedule grids).
        </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src="pictures/marcy.png" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Top</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h3 class="uk-card-title">Media Bottom</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="uk-card-media-bottom">
            <img src="pictures/hero.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
