<article>
  <section>
    <h1>Public Assets</h1>
    <h2>Pictures</h2>
    <ul>
      <li>Marceline, the vampire queen picture: as <a href="/pictures/marcy.png"><code>marcy.png</code></a> from original file <a href="//upload.wikimedia.org/wikipedia/commons/9/96/Marceline-005.jpg"><code>Marceline-005.jpg</code></a> at <a href="//commons.wikimedia.org/wiki/File%3AMarceline-005.jpg">commons.wikimedia.org</a> by Pendleton Ward (www.cartoonnetwork.com) under the <a href="//creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Attribution-Share Alike 4.0 International license</a>, originally from Adventure Time animated television series.</li>
      <li>Golden Gate Bridge photo: as <a href="/pictures/hero.png"><code>hero.png</code></a> from original file <a href="//unsplash.com/photos/XL017h5dLlg/download"><code>photo-1490598000245-075175152d25.jpg</code></a> at <a href="//unsplash.com/photos/71vAb1FXB6g">unsplash.com</a> by Joshua Sortino under the <a href="//creativecommons.org/publicdomain/zero/1.0/legalcode">Creative Commons Zero 1.0 Universal license</a>.</li>
    </ul>
    <h2>Style Sheets</h2>
    <ul>
      <li>Summerline CSS, highly based on PicnicCSS.</li>
    </ul>
  </section>
</article>
