<article>
  <section>
    <h1>Public Assets</h1>
    <h2>Pictures</h2>
    <ul>
      <li>Marceline, the vampire queen picture: as <a href="/pictures/marcy.png">marcy.png</a> from original file <a href="//upload.wikimedia.org/wikipedia/commons/9/96/Marceline-005.jpg">Marceline-005.jpg</a> at <a href="//commons.wikimedia.org/wiki/File%3AMarceline-005.jpg">commons.wikimedia.org</a> by Pendleton Ward (www.cartoonnetwork.com) under the <a href="//creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Attribution-Share Alike 4.0 International license</a>, originally from Adventure Time animated television series.</li>
      <li>Polar fox picture: as <a href="/pictures/hero.png">hero.png</a> from original file <a href="//unsplash.com/photos/XL017h5dLlg/download">jonatan-pie-219455.jpg</a> at <a href="//unsplash.com/photos/XL017h5dLlg">unsplash.com</a> by Jonatan Pie under the <a href="//creativecommons.org/publicdomain/zero/1.0/legalcode">Creative Commons Zero 1.0 Universal license</a>.</li>
    </ul>    
  </section>
</article>
