.hero {
  display: flex;
   align-items: center; 
}

  .hero > div {
    display: flex;
    justify-content: space-between;
  flex-direction: column;
  align-items: flex-end; 
  --max-width: 40%;
  }

.hero > div > div {
  width: 300px;
}

/* Validation */
.validation-errors {
  list-style: none;
  margin-bottom: 0;
  color: #FF4136;
  padding-left: 0;
}

.validation-errors > li {
  margin-bottom: 0;
}


/* Schedule grid */

    .grid {
        display: grid;
        grid: auto / auto;
        grid-gap: 1px;
        font-family: monospace;
        font-weight: bold;
        justify-items: stretch;
        align-items: stretch;
        justify-content: stretch;
        grid-template-columns: 40px auto auto auto auto auto auto;
        grid-template-rows: 40px;
    }

    .item {
        border-radius: 4px;
        padding: 10px;
        background: #DDDDDD;
        transition: opacity 0.5s;
    }

    .cell {
        border-radius: 4px;
        color: #DDDDDD;
        padding: 10px;
        background:  #0074D9;
        transition: opacity 0.5s;
    }

    .item:hover {
      opacity: 0.6;
    }

    .cell.col1 {
      text-align: center;
    
    }

    .row1 { grid-row: 2; }
    .row2 { grid-row: 3; }
    .row3 { grid-row: 4; }
    .row4 { grid-row: 5; }
    .row5 { grid-row: 6; }
    .row6 { grid-row: 7; }

    .col1 { grid-column: 1; }
    .col2 { grid-column: 2; }
    .col3 { grid-column: 3; }
    .col4 { grid-column: 4; }
    .col5 { grid-column: 5; }
    .col6 { grid-column: 6; }
    .col7 { grid-column: 7; }

    .empty {
        grid-column: auto / 1;
        grid-row: auto / 1;
    }

    .grid-header, .grid-footer {
      display: none;
      grid-column: span 7;
      color: #DDDDDD;
      background: #001F3F;
    }

    .grid-header {
      grid-row: 1;
    }

    .grid-footer {
      grid-row: 8;

    }
