<div class="uk-section uk-section-secondary">
  <div class="uk-container">
    <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
      <div>
        <p>Built with <span style="color: salmon; font-weight: 800; font-size: 1.2em;" title="Love">&#10084;</span> from <a href="//github.com/therealdevelopers">the Real Developers</a> and <%= link_to 'others', credits_url %>.</p>
        <p>Workflower, 2017.</p>
      </div>
    </div>
  </div>
</div>
